/* Write your CSS code here */

.iem-container {
  border: 1px solid #d3d3d3;
  margin: 15px;
  border-radius: 15px;
}
.link {
  text-decoration: none;
}
.image-topics-container {
  display: flex;
  padding: 30px;
}
@media screen and (max-width: 576px) {
    .image-topics-container {
        display: flex;
        flex-direction: column;
    }
}
.image-url {
  height: 100%;
  width: 30%;
  margin-right: 30px;
}
@media screen and (max-width: 576px) {
    .image-url {
        height: 60%;
    }
}
.topic {
  color: #d3d3d3;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
}
.title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.avatar-container {
  display: flex;
}
.avatar {
  height: 40px;
  border-radius: 60%;
  margin-right: 18px;
  margin-top: 10px;
}
.author {
  color: #d3d3d3;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 800;
  text-decoration: none;
}
