/* Write your CSS code here */

.blogs-container {
  padding: 100px;
}
.blog-topics {
  color: #000000;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}
.blog-avatar-container {
  display: flex;
  justify-content: flex-start;
}
.blog-avatar {
  height: 40px;
  border-radius: 60%;
  margin-right: 18px;
  margin-top: 10px;
}
.blog-author {
  color: #d3d3d3;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 800;
}
.blog-image {
  height: 20%;
  width: 100%;
}
.blog-content {
  color: #2f4f4f;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  text-align: center;
}
